<mat-card>
  <mat-card-content>
    <form [formGroup]="form">
      <h2>Log In</h2>
      <mat-error *ngIf="loginInvalid">
        {{error}}
      </mat-error>
      <mat-form-field class="full-width-input">
        <input (change)="setEmail()" matInput placeholder="Correo" formControlName="username" required>
        <mat-error>
          Por favor, insterte un correo válido
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input (change)="setPassword()" matInput type="password" placeholder="Contraseña" formControlName="password" required>
        <mat-error>
          Por favor, inserte una contraseña válida
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="login()">Login</button>
    </form>
  </mat-card-content>
</mat-card>
