<mat-toolbar color="primary">
  <div fxFlex fxLayout fxLayoutAlign="center">
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
        © 2020 Copyright Testing Login
    </ul>
  </div>
</mat-toolbar>

