<mat-nav-list>
  <a mat-list-item routerLink="/" (click)="onSidenavClose()">
    <mat-icon>home</mat-icon> <span class="nav-caption">Inicio</span>
  </a>
  <a mat-list-item routerLink="/users" (click)="onSidenavClose()">
    <mat-icon>supervisor_account</mat-icon> <span class="nav-caption">Usuarios</span>
  </a>
</mat-nav-list>
