<mat-sidenav-container>
  <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
  <mat-sidenav #sidenav role="navigation">
    <app-side-menu (sidenavClose)="sidenav.close()"></app-side-menu>
  </mat-sidenav>
  <main>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </main>
</mat-sidenav-container>

