.example-card {
  width: 100%;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.center {
  max-width: 1000px;
  margin: 50px auto;
}
