<mat-toolbar color="primary">
  <div *ngIf="isLogin">
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" *ngIf="isLogin">
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li>
        <a (click)="logout()" routerLink="/login">Salir</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
